{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-3xl font-bold text-orange-500">This is my Home page, welcome!</h1>
                <p class="text-1xl text-orange-300">This is my home page welcome text today ... </p>
            </div>
        </div>
    </div>
{{end}}
